
.amazing-kira {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.paw {
  height: 5em;
  width: 5em;
  transition: all 0.3s ease;
}

button:hover .paw {
  filter: drop-shadow(0px 0px 12px rgb(14, 85, 148));
  border-radius: 6em;
  transform: scale(1.3);
}



.logo {
  height: 12em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 3em;
  transition: all 0.3s ease;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgb(14, 85, 148));
  border-radius: 6em;
  transform: translate(0px,-5px) scale(1.3);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em rgb(127, 201, 203));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
